# Add the values for the Credentials to access the IBM Cloud
# Instructions to access this information can be found in the README.MD
# This is a template file and the ./launch.sh script looks for a file based on this template named credentials.properties
# NOTE: Do not use quotes around the values
TF_VAR_ibmcloud_api_key=
